.subbar {
   height: 100px;
   width: 100%;
   display: block;
   text-decoration: none;  
}

.subbar .content {
   width: 70%;
   margin: auto;
   padding: 20px 0px 0px;
}

.subbar .content .input {
   height: 50%;
}


input {
   width: 198px;
   height: 40px;
}

.subbar .content .category {
   height: 50%;
}

button {
   border: none;
   background: none;
}

.row .categories ul {
   display: flex;
   flex-direction: row;
   margin: 10px 0 10px 0;
   width: 100%;
 }

 .categories ul, .buttons{
   display: flex;
   flex-direction: row;
   
 }
 
 .categories ul {
   justify-content: space-evenly;
   width: 90%;
   gap:150px;
   margin-left: 50px;
   color:black;
   font-size: 18px;
 }

.categories ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

