.productcard {
   padding-bottom: 10px;
   max-width: 270px;
   background-color: aliceblue;
   margin-bottom: 10px;
}

img {
   height: 250px;
   width: 248px;
}

.productcard.show {
   color: red;
}

