.footer {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.footer-category  {
   width: 90px;
   height: 90px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

h6 {
   color: gray;
}