.checkout-form {
   margin: 12px;
}

.checkout-form .content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   color: white;
}

.checkout-form h1 {
   color: white;
   display: flex;
   justify-content: center;
}

.checkout-form img {
   height: 30px;
   width: 30px;
   margin-left: 10px;
}

.checkout-form button {
   color: white;
   width: 200px;
   height: 40px;
   border: 1px solid white;
   /* margin-left: 150px; */
   font-size: larger;
   margin: 10px 0px 10px 150px;
}

.checkout-form .content p {
   padding-bottom: 5px;
}

.checkout-form .content input {
   width: 500px;
   height: 40px;
   padding: 10px;
}

.receipt {
   margin: 20px 20px 40px 20px;
}

.receipt .success {
   text-align: center;
   color: greenyellow;
   margin-bottom: 10px;
}

.error {
   margin: 14px;
   text-align: center;
}

.error h1 {
   color: red;
}