.checkout-form {
   margin: 12px;
   height: 300px;
}

.checkout-form .content {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-around;
   color: white;
}

.checkout-form h1 {
   color: white;
   display: flex;
   justify-content: center;
}

.checkout-form img {
   height: 30px;
   width: 30px;
   margin-left: 10px;
}

.checkout-form button {
   color: white;
   width: 200px;
   height: 40px;
   border: 1px solid white;
   margin-left: 150px;
   font-size: larger;
}

.checkout-form .content p {
   padding-bottom: 5px;
}

.checkout-form .content input {
   width: 500px;
      
}