* {
   margin: 0;
   padding: 0;
}
 .navbar {
   height: 64px;
   width: 100%;
   display: block;
   background: #2c4047;
   text-decoration: none;
}

.navbar .content {
   height: 100%;
   width: 70%;
   margin: auto;
   display: flex;
   flex-direction: row;
}

.navbar .content .logo {
    width: 100px;
    margin-right: 50px;
}

.navbar .content .logo img {
   width: 60px;
   height: 60px;
}

.navbar .content .socials {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100px;
   margin-right: 50px;
}

.navbar .content .socials img {
   width: 18px;
   height: 18px;
}


.navbar .content .links {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   list-style-type: none;
   margin-left: auto;
   flex: 1;
   max-width: 650px;
   text-decoration: none;
   list-style: none;
}

.navbar .content .links li { 
   list-style: none;
   text-decoration: none;
   display: inline;
   padding-left: 20px;
   text-decoration: none;
} 
.navbar .content .links .link {
   color: white;
}

#link-home {
   text-decoration: none;
   color: white;
}

a:visited {
   text-decoration: none;
   color: white;
   list-style: none;
}


