.hero {
   background-color: #00c385;
   color: white;
   height: 40vh;
   width: 100%;
   display: flex;
   margin: 0 auto;
   justify-content: space-around;
   align-items: center;
   max-width: 70vw;
}

.herowords {
   width: 70%;
   padding: 10px 0px 20px 50px;
}

.herowords h1 {
   font-size: 60px;
   margin: 0;
}

.herowords p {
   font-size: 20px;
}
